<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>ASCII Art | Method not allowed</title>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body class="error">
    <h1>
        <pre>
 ______                               
|  ____|                              
| |__     _ __   _ __    ___    _ __  
|  __|   | '__| | '__|  / _ \  | '__| 
| |____  | |    | |    | (_) | | |    
|______| |_|    |_|     \___/  |_|    
        </pre>
    </h1>
    <h2>40<span>5</span></h2>
    <p>You can only hit this endpoint with a POST method.</p>
    <a href="/">Back to Homepage</a>
</body>

</html>