<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>ASCII Art</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="flex">
        <form id="ascii-form">
            <h1>ASCII ART 🎨</h1>
            <div class="box">
                <label for="text">Input</label>
                <textarea id="text-input" name="text"></textarea>
            </div>
            <div class="box">
                <span>Fonts</span>
                <div class="fonts">
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="radio" checked="true" name="font" class="checkbox-input" value="standard" />
                            <span class="checkbox-tile">
                                <span class="checkbox-icon">
                                    <pre>    /\     </pre>
                                    <pre>   /  \    </pre>
                                    <pre>  / /\ \   </pre>
                                    <pre> / ____ \  </pre>
                                    <pre>/_/    \_\ </pre>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="radio" name="font" class="checkbox-input" value="shadow" />
                            <span class="checkbox-tile">
                                <span class="checkbox-icon">
                                    <pre>  _|_|   </pre>
                                    <pre>_|    _| </pre>
                                    <pre>_|_|_|_| </pre>
                                    <pre>_|    _| </pre>
                                    <pre>_|    _| </pre>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="radio" name="font" class="checkbox-input" value="thinkertoy" />
                            <span class="checkbox-tile">
                                <span class="checkbox-icon">
                                    <pre>  O   </pre>
                                    <pre> / \  </pre>
                                    <pre>o---o </pre>
                                    <pre>|   | </pre>
                                    <pre>o   o </pre>
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <button>Generate</button>
        </form>
        <div class="relative">
            <div class="tools">
                <button class="icon" onclick="copyToClipboard()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM5.00242 8L5.00019 20H14.9998V8H5.00242ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6Z"
                            fill="rgba(255,255,255,1)"></path>
                    </svg>
                </button>
                <button class="icon" onclick="download()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M13 10H18L12 16L6 10H11V3H13V10ZM4 19H20V12H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V12H4V19Z"
                            fill="rgba(255,255,255,1)"></path>
                    </svg>
                </button>
            </div>
            <span id="notification"></span>
            <textarea id="ascii-result"></textarea>
        </div>
    </div>
    </div>
    <script>
        const asciiForm = document.getElementById('ascii-form');
        const asciiResult = document.getElementById("ascii-result");
        const notification = document.getElementById("notification");

        asciiForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(asciiForm);
            if (formData.get("text") === "") {
                Notification("error", "Write a text to generate")
                return
            }
            try {
                const response = await fetch('/ascii-art', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.text();
                if (data.startsWith("Error")) {
                    Notification("error", data)
                } else {
                    asciiResult.value = data;
                    Notification("success", "Generate with success!")
                }
            } catch (error) {
                console.log(error);
                Notification("error", error)
            }
        });

        function Notification(type, msg) {
            notification.classList.remove("active")
            notification.textContent = msg;
            notification.classList.add("active")
            notification.classList.add(type)
            setTimeout(() => {
                notification.classList.remove("active")
                notification.classList.remove(type)
            }, 1500);
        }

        function copyToClipboard() {
            asciiResult.focus();
            asciiResult.select();
            document.execCommand("copy");
            asciiResult.blur();
            Notification("success", "Text copy to clipboard!")
        }

        async function download() {
            const data = encodeURIComponent(asciiResult.value);
            console.log(data);
            window.location = "/download?output=" + data;
            Notification("success", "Download successful")
        }
    </script>
</body>

</html>